---
layout: base
---

<div class="heading">
  <div class="row">
    <div class="twelve columns">
      <h1>Firmware</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="eight columns">
    <p>Hier findest du eine Liste unterstützter Router-Modelle und ihre entsprechenden Firmwares.</p>
    
     <h4>Häufigste Modelle</h4>
      <ul>
        <li><a href="/firmware.html#TP-Link_TL-WR841N/ND">TL-WR841N/ND</a></li>
        <li><a href="/firmware.html#TP-Link_TL-WR1043N/ND">TL-WR1043N/ND v2</a></li>
        <li><a href="/firmware.html#TP-Link">CPE210</a></li>      
      </ul>

    <p><strong>Aktuelle Firmware-Version: {{ site.firmware_version }}</strong></p>
  </div>
</div>
<div class="row">
  <div class="eight columns">
    {% for groups in site.firmwares %}
    <a name="{{ groups[0] }}"></a>
    <h2>{{ groups[0] }}</h2>
    <table class="firmwarelist">
      <thead>
        <tr>
          <th></th>
          <th>Model</th>
          <th>Erstinstallation</th>
          <th>Upgrade</th>
        </tr>
      </thead>
      <tbody>
        {% for model in groups[1] %}
        <tr>
          <td class="router" style="background-image:url(images/models/{{ groups[0] | slugify: 'pretty' }}-{{ model[0] | slugify: 'pretty' }}_100x60.png)"> 
          </td>
          <td>
            <a name="{{ groups[0] }}_{{ model[0] }}"></a>
            <strong>{{ model[0] }}</strong>
            <br><a class="infolink" href="https://wiki.openwrt.org/toh/{{ groups[0] | slugify: 'pretty' }}/{{ model[0] | slugify: 'pretty' }}" target="_blank" title="OpenWrt Wiki">&rarr; info</a>
          </td>
          <td>
            {% for fw in model[1] %}
            {% if fw[1].factory %}
            {% if fw[0] %}
            <strong>{{ fw[0] }}:</strong>
            {% endif %}
            <a href="{{ fw[1].factory }}">factory</a>
            {% endif %}
            <br/>
            {% endfor %}
          </td>
          <td>
            {% for fw in model[1] %}
            {% if fw[1].sysupgrade %}
            {% if fw[0] %}
            <strong>{{ fw[0] }}:</strong>
            {% endif %}
            <a href="{{ fw[1].sysupgrade }}">sysupgrade</a>
            {% endif %}
            <br/>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}

    <p>
    Die Freifunk-Firmware ist Freie Software. Sie basiert auf dem <a href="https://github.com/freifunk-gluon/gluon">Gluon-Framework</a> und <a href="https://openwrt.org/">OpenWrt</a> und darf nach den Bestimmungen der <a href="https://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License</a> weiterverteilt und verändert werden.
    </p>
    <p>Das Gluon-Site-Repository befindet sich unter <a href="{{ site.firmware.gluon_site }}">{{ site.firmware.gluon_site }}</a>.</p>
  </div>
  <div class="four columns panel">
    <h5>Hardware Versionen</h5>
    <p>Bei einigen Modellen gibt es mehrere Hardware Versionen. Ist dies bei deinem Modell der Fall, musst du die entsprechende Firmware anhand des Typenschilds unter dem Knoten auswählen.</p>
    <p>Dieses Bild zeigt das Typenschild eines TP-Link TL-WR1043ND. Die Versionsangabe ist gelb markiert:</p>
    <a href="images/hardwareversion.png">
      <img src="images/hardwareversion.png" />
    </a>
  </div>
  <div class="four columns panel" id="firmware-info-box">
    <p>Sämtliche Firmware-Dateien findest du unter <a href="{{ site.firmware.base }}">{{ site.firmware.base }}</a>.</p>
    <p>Firmware-Mirror: <a href="{{ site.firmware_mirror }}">{{ site.firmware_mirror }}</a>.</p>
    <p>Das Gluon-Site-Repository befindet sich unter <a href="{{ site.firmware.gluon_site }}">{{ site.firmware.gluon_site }}</a>.</p>
  </div>
  <div class="four columns panel">
    <h5>Nutzungsbedingungen</h5>
    <p>Für die Verwendung der Freifunk Firmware in Verbindung mit dem angebotenem Übergang ins Internet gelten unsere <a href="/nutzungsbedingungen.html">Nutzungsbedingungen</a>.</p>
  </div>
</div>
