---
layout: base
---

<div class="heading">
  <div class="row">
    <div class="twelve columns">
      <h1>Firmware</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="eight columns">
    <p>Hier findest du eine Liste unterstützter Router-Modelle und ihre entsprechenden Firmwares.</p>

  </div>
</div>

<div class="row">
  <div class="eight columns">
    {% for makes in site.firmwares %}
    <h2>{{ makes[0] }}</h2>
    <table>
      <thead>
        <tr>
          <th>Model</th>
          <th>Erstinstallation</th>
          <th>Upgrade</th>
        </tr>
      </thead>
      <tbody>
        {% for model in makes[1] %}
        <tr>
          <td>
            {{ model[0] }}
          </td>
          <td>
            {% for fw in model[1] %}
            {% if model[1].size > 1 %}
            <strong>v{{ fw.hwrev }}:</strong>
            {% endif %}
            <a href="{{ fw.factory }}">factory-{{ fw.version }}</a><br/>
            {% endfor %}
          </td>
          <td>
            {% for fw in model[1] %}
            {% if model[1].size > 1 %}
            <strong>v{{ fw.hwrev }}:</strong>
            {% endif %}
            <a href="{{ fw.sysupgrade }}">sysupgrade-{{ fw.version }}</a><br/>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}

    <p>
    Die Lübecker Freifunk-Firmware ist Freie Software. Sie basiert auf dem <a href="https://github.com/freifunk-gluon/gluon">Gluon-Framework</a> und <a href="https://openwrt.org/">OpenWRT</a> und darf nach den Bestimmungen der <a href="https://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License</a> weiterverteilt und verändert werden.
    </p>
    <p>Das Gluon-Site-Repository befindet sich unter <a href="https://github.com/freifunk-gluon/site-ffhl">https://github.com/freifunk-gluon/site-ffhl</a>.</p>
  </div>
  <div class="four columns panel">
    <h5>Hardware Versionen</h5>
    <p>Bei einigen Modellen gibt es mehrere Hardware Versionen. Ist dies bei deinem Modell der Fall, musst du die entsprechende Firmware anhand des Typenschilds unter dem Knoten auswählen.</p>
    <p>Dieses Bild zeigt das Typenschild eines TP-Link TL-WR1043ND. Die Versionsangabe ist gelb markiert:</p>
    <a href="images/hardwareversion.png">
      <img src="images/hardwareversion.png" />
    </a>
  </div>
</div>
