<div class="row">
  <div class="twelve columns">
    <h2>Dokumentation</h2>
  </div>
</div>

<div class="row">
  <div class="nine columns push-three">
    <div class="row">
      <div class="six columns">
        <p>
          Nach dem Auspacken des Routers solltest du ihm mit deinem Computer verbinden.
        </p>
      </div>
      <div class="three columns" style="background: red">
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <p>
          Im Browser 192.168.1.1 aufrufen
        </p>
      </div>
      <div class="three columns" style="background: red">
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <p>
          Firmware upgrade einspielen
        </p>
      </div>
      <div class="three columns" style="background: red">
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <p>
          Erneut 192.168.1.1 aufrufen
        </p>
      </div>
      <div class="three columns" style="background: red">
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <p>
          Config mode durcharbeiten
        </p>
      </div>
      <div class="three columns" style="background: red">
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <p>
          Neustarten und aufstellen
        </p>
      </div>
      <div class="three columns" style="background: red">
      </div>
    </div>

  </div>

  <div class="three columns pull-nine">
    <dl class="nice vertical tabs">
      <dd class="active"><a href="#">Knoten installieren</a></dd>
    </dl>
  </div>
</div>
