  <div class="row">
    <div class="twelve columns">
      <h2>Eingesetzte Technologien</h2>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <img src="images/batman-logo.svg" />
    </div>
    <div class="nine columns">
      <h4>B.A.T.M.A.N. Advanced</h4>
      <p>
      <a href="http://www.open-mesh.org/projects/batman-adv/wiki">B.A.T.M.A.N. Advanced</a> ist ein Layer 2 Mesh Protokoll.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <img src="images/openwrt-logo.png" />
    </div>
    <div class="nine columns">
      <h4>OpenWrt</h4>
      <p>
      <a href="https://openwrt.org/">OpenWrt</a> ist eine kompakte Linux Distribution für Router.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <img src="images/ipv6-logo.png" />
    </div>
    <div class="nine columns">
      <h4>IPv6</h4>
    </div>
  </div>

