/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

div.header {
  background: transparent url(../images/ffhl-logo.png) no-repeat bottom right;
  min-height: 110px;
}

#flash_placeholder {
  background:url('../images/flash_placeholder.png');
  min-height:330px;
  margin-bottom:10px;
  background-repeat:no-repeat;
}

@media only screen and (max-width: 570px) {
  div.header {
    background: transparent !important;
    min-height: 0px;
  }
}

footer {
  background: #fafafa;
  margin-top: 1em;
  padding: 1em 0;
}

div.teaser {
  background: #333;
  padding-top: 1em;
  margin-bottom: 1em;
}

div.heading {
  background: #333;
  color: #fff;
  margin-bottom: 1.4em;
}

div.heading * {
  color: #fff;
}

h1 > .postdate {
  font-size: 0.3em;
  font-style: italic;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


