<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Freifunk {{ site.community.name }}</title>

  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">

  <script src="/javascripts/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

  <!-- Header and Nav -->


  <div class="row header">
    <div class="nine columns">
      <h1>
        Freifunk {{ site.community.name }}
      </h1>

      <ul class="link-list">
        <li><a href="/">Home</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/mitmachen.html">Mitmachen!</a></li>
        <li><a href="/firmware.html">Firmware</a></li>
        <li><a href="/treffen.html">Treffen</a></li>
        <li><a href="{{ site.community.url_wiki }}">Wiki</a></li>
        <li><a href="{{ site.community.url_webchat }}" target="_blank">Webchat</a></li>
        <li><a href="https://forum.freifunk.net/c/meta-community/ffnord" target="_blank">Forum</a></li>
      </ul>
    </div>

  </div>

  <!-- End Header and Nav -->

  {{ content }}

  <footer>
    <div class="row">
      <div class="six columns">
        <h5>Kontakt</h5>
        <p>
        <strong>E-Mail:</strong> <a href="mailto:{{ site.community.mail_info}}">{{ site.community.mail_info }}</a> <br/>
        <strong>Mailingliste:</strong> <a href="{{ site.community.url_mailman }}">{{ site.community.mail_discussion }}</a> <br/>
          {% if site.community contains 'sip' %}
          <strong>SIP:</strong>
            {% for sip in site.community.sip %}
            {{ sip }}{% if forloop.rindex > 2 %}, {% else %}{%if forloop.rindex == 2%} oder {% endif %}{% endif %}{% endfor %} <br/>
          {% endif %}
          <strong>IRC:</strong> {{ site.community.irc }} im <a href="http://hackint.org">hackint</a> | <a href="{{ site.community.url_webchat }}">Live Webchat</a><br/>
          {% if site.community contains 'twitter' %}
          <strong>Twitter:</strong> <a href="https://twitter.com/{{ site.community.twitter }}">@{{ site.community.twitter }}</a><br/>
          {% endif %}
          <a href="/impressum.html">Impressum</a>
        </p>
      </div>
      <div class="four columns">
        <h5>Links</h5>
        <ul>
          <li><a href="{{ site.community.url_wiki }}">Wiki</a></li>
          <li><a href="{{ site.community.url_nodelist }}">Knotenliste</a></li>
          <li><a href="{{ site.community.url_graph }}">Netzgraph</a></li>
          <li><a href="{{ site.community.url_geomap }}">Knotenkarte</a></li>
        </ul>
      </div>
      <div class="four columns">
      </div>
    </div>
  </footer>

  <!-- Included JS Files (Uncompressed) -->
  <!--

  <script src="javascripts/jquery.js"></script>

  <script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script>

  <script src="javascripts/jquery.foundation.forms.js"></script>

  <script src="javascripts/jquery.foundation.reveal.js"></script>

  <script src="javascripts/jquery.foundation.orbit.js"></script>

  <script src="javascripts/jquery.foundation.navigation.js"></script>

  <script src="javascripts/jquery.foundation.buttons.js"></script>

  <script src="javascripts/jquery.foundation.tabs.js"></script>

  <script src="javascripts/jquery.foundation.tooltips.js"></script>

  <script src="javascripts/jquery.foundation.accordion.js"></script>

  <script src="javascripts/jquery.placeholder.js"></script>

  <script src="javascripts/jquery.foundation.alerts.js"></script>

  <script src="javascripts/jquery.foundation.topbar.js"></script>

  -->

  <!-- Included JS Files (Compressed) -->
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/foundation.min.js"></script>

  <!-- Initialize JS Plugins -->
  <script src="javascripts/app.js"></script>
</body>
</html>
